*,
*::after,
*::before {
	box-sizing: border-box;
}

:root {
	font-size: 2.5vmin;
}

body {
	margin: 0;
	color: var(--color-text);
	background-color: var(--color-bg);
    --color-text: #000000;
    --color-bg: #c6c1b7;
    --color-link-hover: #b4176e;
	--color-link: #4c34eb;
    --color-border: #a0988a;
	font-family: roc-grotesk, sans-serif;
	text-transform: uppercase;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overflow-x: hidden;
}

html {
	scroll-behavior: smooth;
  }



a {
	text-decoration: none;
	color: var(--color-link);
	outline: none;
}

a:hover {
	color: var(--color-link-hover);
	outline: none;
}

/* Better focus styles from https://developer.mozilla.org/en-US/docs/Web/CSS/:focus-visible */
a:focus {
	/* Provide a fallback style for browsers
	 that don't support :focus-visible */
	outline: none;
	background: lightgrey;
}

a:focus:not(:focus-visible) {
	/* Remove the focus indicator on mouse-focus for browsers
	 that do support :focus-visible */
	background: transparent;
}

a:focus-visible {
	/* Draw a very noticeable focus style for
	 keyboard-focus on browsers that do support
	 :focus-visible */
	outline: 2px solid red;
	background: transparent;
}

/* this is for the menu bar on top of page */
.frame {
	position: fixed;
	z-index: 1000;
	top: 0;
	left: 0;
	display: grid;
	align-content: space-between;
	width: 100%;
	max-width: none;
	padding: 1rem;
	pointer-events: none;
	grid-template-columns: auto auto;
	grid-template-areas: 'prev navs';
	background-color: rgba(198, 193, 183, 0.9);
}

.frame a,
.frame button {
	pointer-events: auto;
}

.frame__prev {
	grid-area: prev;
	justify-self: start;
	margin: 1vh 1vh;
}

.frame__navs {
	grid-area: navs;
	justify-self: end;
	margin: 1vh 1vh;
	white-space: nowrap;
}

.frame__navs a {
	margin-left: 2rem;
	position: relative;
}

.frame__nav--current,
.frame__nav--current:hover {
	color: var(--color-link-hover);
}

.frame__nav--current::after {
		content: '';
		position: absolute;
		bottom: 140%;
		height: 130%;
		width: 1px;
		left: 50%;
		background: currentColor;
	}

/* this is for the 3 items on the index page */
.item__box {
    
    width: 90vw;
    height: 80%;
    margin-top: 10vh;
    margin-left: auto;
    margin-right: auto;
    color: var(--color-text);
	background: var(--color-bg);
    text-transform: none;
    
}

.item__box :target {
	display: block;
	position: relative;
	padding-top: 14.2vh; 
}
  
.item {
	margin-bottom: 5rem;
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: auto auto 1fr auto;
}


.item__title {
	font-weight: 300;
	font-size: 2rem;
	margin-bottom: 1rem;
}

.item__img {
	position: relative;
	overflow: hidden;
	width: 100%;
	aspect-ratio: 500/333;
}

.item__img-inner {
	background-position: 50% 45%;
	background-size: cover;
	width: 100%;
	height: 100%;
}

.item__desc {
	margin-top: 2.5rem;
	line-height: 1.1;
    font-family: acumin-pro, sans-serif;
    font-size: 0.9rem;
	font-weight: 300;
}

.item__link {
	cursor: pointer;
	text-transform: lowercase;
	width: 100%;
	padding: 1rem;
	color: var(--color-link);
	border: 1px solid var(--color-link);
	border-radius: 2rem;
	text-align: center;
    text-transform: uppercase;
    font-size: 0.9rem;
	font-weight: 300;
    margin-top: 1rem;
}

.item__link:hover {
	background: var(--color-link-hover);
	border-color: var(--color-link-hover);
	color: var(--color-bg);
}

.item__link-disable {
    color: var(--color-border);
    border-color: var(--color-border);
	cursor: not-allowed;
}

.item__link-disable:hover {
    background: var(--color-bg);
	border-color: var(--color-border);
    color: var(--color-border);
}



@media screen and (min-width: 53em) {
	
    .item__box {
		max-width: none;
		display: grid;
		grid-template-columns: repeat(3,1fr);
		grid-template-rows: 100%;
		grid-column-gap: 5vw;
	}
	.item {
		margin-bottom: 0;
	}
	.item__title {
		font-size: clamp(1.25rem,3vw,2rem);
	}
    
}

